#logo {
    height:75px;
    width:90x;
    flex: 0 1 auto;
    margin-left: 5px;
}
#header {
    background-color: rgb(66, 66, 66);
    display:flex;
    flex-direction:row;
}
#KEP {
    color: white;
    flex: 0 1 60%;
    margin: auto;
    display:table;
    font-variant:small-caps;
}