<footer class="page-footer">
    <div>&copy;booksmart</div><div><a href="https://www.freepik.com/vectors/school">www.freepik.com</a></div><div>Get smart. Book smart.</div><div><a href="/about">About</a></div><div><a href="/contact">Contact</a></div>
</footer>