<footer class="page-footer">
    <div>&copy;booksmart</div><div>Get smart. Book smart.</div><div><a href="https://www.freepik.com/vectors/school">School vector created by pch.vector - www.freepik.com</a></div><div><a href="mailto:evandehy@uncc.edu">evandehy@uncc.edu</a></div>
</footer>