<header class="page-header">
    <a id="logolink" href="/"><img id="logo" src="/src/booksmart-logo/cover_small_2.png" alt="booksmart logo"></a>
</header>
<nav class="page-nav">
  <div id="navigation">
    <div class="nav-btn-container"><a class="nav-btn btn" href="/textbooks">View All Textbooks</a></div>
    <div class="nav-btn-container"><a class="nav-btn btn" href="/textbooks/new">Sell Your textbook</a></div>
  </div>
  <div id="logins">
    <div class="nav-btn-container"><a class="nav-btn" id="login" href="#">Log in</a></div>
    <div class="nav-btn-container"><a class="nav-btn" id="signup" href="#">Sign up</a></div>
  </div>
</nav>