/* .search-container {
    height:64px;
} */
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--icon);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
  
.search-container button:hover {
    background: var(--icon-dark);
}

.search-container input[type=search] {
    padding: 6px;
    padding-right: 0px;
    width: min(500px, 75%);
    font-size: 17px;
    border: 1px solid var(--font);
    border-radius: 10px;
    box-sizing: border-box;
    height:100%;
}

.search-container input[type=text]:focus {
    border: 2px solid var(--font);
    outline-width: 2px;
}

.search-container form {
    padding:2px;
}
