<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/user.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>booksmart - Get books smarter!</title>
</head>
<body>
    <div class="page-wrap">
        <%- include('../partials/header.ejs')%>
        <main class = "page-main">
            <h1>Login</h1>
            <form class= "centered" action = '/users/login' method = 'POST'>
                <table class="centered">
                    <tr>
                        <td><label for="email">Email Address</label></td>
                        <td><input type="email" id="email" name="email" required></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input type="password" id="password" name="password" required></td>
                    </tr>
                    
                    <tr>
                        <td colspan="2"><button>Login</button></td>
                    </tr>
                </table>        
            </form>
        </main>
        <%- include('../partials/footer.ejs')%>
    </div>
</body>
</html>