<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>booksmart - Get books smarter!</title>
</head>

<body>
<div class="page-wrap">
    <%- include("./partials/header.ejs") %>
    <main class="page-main">
      <div class="left-main">
        <div id="description">
          <h1>Contact Information</h1>
          <p>Feel free to reach out to me with any questions, comments, or concerns!</p>
          <p>Reasons to reach out include:</p>
          <ul>
              <li>Request a 3rd party to meet with you and a seller/buyer</li>
              <li>Suggestions for the site</li>
              <li>Concerns about safety or privacy issues</li>
              <li>Recommendations for meeting up</li>
              <li>Inappropriate listings</li>
          </ul>
          <h2>Email</h2>
          <p>Please direct your concerns to my email at <a href="mailto:evandehy@uncc.edu">evandehy@uncc.edu</a></p>
          <h2>Emergency</h2>
          <p>In case of emergency, please call 9-1-1 or campus police at 704-687-2200</p>
        </div>
      </div>
      <div class="right-main">
        <img src="src/books-vector.jpg" alt="textbook vector">
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </div>
</body>
</html>