<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/searchbar.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>booksmart - Get books smarter!</title>
</head>

<body>
<div class="page-wrap">
    <%- include("./partials/header.ejs") %>
    <main class="page-main">
      <div class="left-main">
        <h1>Find Your Textbooks</h1>
        <%- include("./partials/searchbar.ejs") %>
        <div id="description">
          <h2>Book smarter. Get Smarter.</h2>
          <p>Get your textbooks from students who just took the same class!</p>
          <p>Buying textbooks smarter is...</p>
          <ul>
            <li>Cheaper.</li>
            <li>Easier.</li>
            <li>Local.</li>
            <li>Happier.</li>
            <li>Better.</li>
          </ul>
          <p>Once you are finished with your textbook, sell it to the next student in line!</p>
          <p>Simply search for your textbook, contact the seller, and setup the exchange!</p>
        </div>
      </div>
      <div class="right-main">
        <img src="src/books-vector.jpg" alt="textbook vector">
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </div>
</body>
</html>