@font-face {
  font-family: istok_webfont;
  src: local("./src/Istok_Web/IstokWeb-Regular.ttf");
}
/* {"bg":"#FDEDDF","icon-gradient-0":"#E63500","icon-gradient-1":"#FFC316","font":"#361A02","slogan":"#4a2e16"} */
:root {
  --bg: #495867;
  --logo: #495867;
  --logo-height: 51px;
  --logo-width: 302.25px;
  --icon: #FFC316;
  --icon-dark: #ffaf04;
  --font: #e8e9eb;
  --font-dark: #313638;
  --accent:#EF6461;
  --accent-dark: #b43836;
}

html, body {
  font-family:istok_webfont, sans-serif;
  width: 100%;
  overflow-x:hidden;
}

body {
  background: var(--bg);
  height: 100vh;
  margin: 0;
  color: var(--font-dark);
}

/* Cite: https://css-tricks.com/the-holy-grail-layout-with-css-grid/ */
.page-wrap {
  background: white;
  height: 100vh;
  box-shadow: 0 0 3px rgba(#000, 0.33);
  display: grid;
  grid-template-columns: max-content  minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
  grid-template-rows: min-content auto min-content;
  
  /* gap: 1px; */
}

.page-wrap > * {
    padding: 5px;
    text-align: center;
}

/* Change format when on a device with a small display */
@media (max-width: 700px) {
  .page-wrap {
  grid-template-columns: 100%;
  grid-template-rows: repeat(min-content);
  }
  .page-main img {
    display:none;
  }
  .page-footer {
    z-index: 1;
  }
  .page-wrap > * {
      grid-column: 1 / -1 !important;
      grid-row: auto !important;
  }
  html {
    overflow: hidden;
  }

  #description {
    width:80% !important;
  }

  .left-main {
    background-image: url("./src/books-vector.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  }
}

/* Logo Section */
.page-header {
  grid-column: 1 / 2;
  grid-row: 1/1;
  background-color: var(--logo);
  height: 75px;
  display: flex;
}

#logolink {
  flex: initial;
  background-color: inherit;
  height: var(--logo-height);
  margin:auto;
  vertical-align: middle;
}

#logo {
  /* width: 100%; */
  max-width: var(--logo-width);
  margin: auto;
}


/* Navigation to the right of logo */
.page-nav {
  grid-column: 2 / 5;
  grid-row: 1/1;
  flex: auto;
  display:flex;
  justify-content: space-around;
  background: var(--logo);
  height: 75px;
}

.page-nav div {
  flex: initial;
  margin:auto 0px;
}

.nav-btn-container {
  display: inline-block;
  margin: 10px !important;
}

.nav-btn {
  margin: 0px 10px;
  color: var(--font);
  border-radius: 200px;
  font-weight: bold;
  padding: 6px 10px;
  padding-top: 7px;
  text-decoration:none;
  font-size: 20px;
}

.nav-btn:hover {
    background-color: var(--icon-dark);
    cursor: pointer;
}

#navigation div .nav-btn {
  background-color: inherit;
}

#navigation div .nav-btn:hover {
  color: var(--icon);
}

#login, #signup {
  background-color:inherit;
  border: 2px solid var(--icon);
}

#login:hover, #signup:hover {
  background-color:var(--icon-dark);
  border-color:var(--icon-dark);
  color:var(--bg);
}

.page-main {
  grid-column: 1 / 5;
  background: #fff;
}

/* footer */
.page-footer {
  grid-column: 1 / -1;
  background: var(--logo);
  color:var(--font);
  display:flex;
  justify-content: space-between;
}

.page-footer div {
  display:inline;
  flex: initial;
  padding: 5px 15px;
  margin:auto;
  text-transform: none;
}

.page-footer div a {
  color:var(--font);
  text-decoration:none;
}

.textbook-info {
  display:flex;
  width: 100%;
}

.label {
  font-weight: bold;
  text-align: end;
  margin-right:5px;
  width: 40%;
}

.value {
  text-align: start;
  width:60%;
  margin-top:auto;
}