<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Students</title>

</head>

<body>
    <h2>Students</h2>
    <% if(students.length == 0) {%>
        <p>There is no student to display.</p>
    <% } else { %>
        <ul>
        <% for(var i=0; i<students.length; i++) { %>
            <li><%= students[i].name %></li>
        <% } %>
        </ul>
    <%}%>
</body>

</html>